@theme {
  /* Colors */
  --color-void: #000000;
  --color-bone: #ffffff;
  --color-ash: #bdbdbd;
  --color-smoke: #9a9a9a;
  --color-plum-voltage: #8052ff;
  --color-amber-spark: #ffb829;
  --color-lichen: #15846e;

  /* Typography */
  --font-acronym: 'Acronym', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}